<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>RESET PASSWORD</title>
	<link href="{{url_for('static',filename='welcome_email.css')}}" rel="stylesheet" type="text/css"
</head>
<body>
	<div class="container-fluid">
        <p style="text-align: left;"><em>Dear <b>{{ user.name }},<b></em></p>
		<center><div class="text-center full-height">
			<p><em>Your request for reset password has been received from <b>{{ user.email }}</b></em></p>
			<p><em>Your Temporary Password is: <b><u>{{ user.password }}</head></u></b></em></p>
			<p><em><a href="{{ user.link }}"><u>Click Here to redirect to ECLIMS</u></a></em></p>
		</div>
		</center>
	</div>
</body>
</html>
